.as-main-container{
    width: 1150px;
    margin: 30px auto;
}
.as-main-heading{
    font-size: 26px;
    font-weight: 700;
}
.ts-main-container{
    width:100%;
    margin: 20px 0;
}
.ts-heading{
    font-size: 22px;
    font-weight: 700;
}
.ts-list-container{
    width: 100%;
    margin: 30px 0;
    display:flex;
    flex-wrap: wrap;
}
.ts-container:nth-child(n){
    width: calc(16.666667% - 16.67px);
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fff;
}
.ts-container:nth-child(6n){
    margin: 0 0 20px 0;
}
.ts-container a.ts-link{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid $border-color-ongrey;
    border-radius: 2px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-decoration: none;
    color: #555;
}
.ts-container a.ts-link:hover{
    box-shadow: 0 0 10px $boxshadow-color;
}
.ts-logo{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.ts-logo img{
    width: 100%;
    height: 100%;
}
.ts-container .ts-title{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.as-mega-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.as-category-outer-container{
    position: relative;
    width: 320px;
    margin-right: 10px;
}
.as-category-inner-container{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
}
.as-category-heading{
    font-size: 22px;
    font-weight: 700;
}
.as-categories-container{
    margin: 20px 0;
    width: 100%;
    height: 460px;
    overflow: hidden;
    overflow-x: hidden;
}
.as-categories-container:hover{
    overflow: auto;
}
.as-categories-list{
    padding: 0;
    margin: 2px 0;
}
.as-categories-list-item{
    border: 1px solid #ddd;
    margin-top: -1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    text-decoration: none !important;
    font-size: 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    cursor: pointer;
}
.as-categories-list-item:hover{
    background-color: #f1f1f1;
    color: $theme-color;
    font-weight: 700;
}
.as-categories-list-item.active{
    background-color: #f1f1f1;
    color: $theme-color;
    font-weight: 700;
    cursor: auto;
}
.as-categories-list-item .fa-angle-right{
    line-height: 1.5;
    font-weight: 1000;
}
/* style for custom scrollbar*/
.as-categories-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.as-categories-container::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.as-categories-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $theme-color;
}
/* style for custom scrollbar*/
/* filtered stores body area*/
.as-body-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 330px);
    min-height: 595px;
    max-height: auto;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    padding: 30px;
}
.as-heading{
    font-size: 22px;
    font-weight: 700;
}
.as-container{
    width: 100%;
    margin: 20px 0;
}
.as-letters-navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f1f1f1;
}
.as-letters-navbar-item{
    padding: 20px 0 2px 0;
}
.as-navbar-letter{
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 0 3px 20px 3px;
    text-decoration: none !important;
    color: #555 !important;
    cursor: pointer;
}
.as-navbar-letter:hover{
    color: $theme-color !important;
    font-weight: 700;
    border-bottom: 3px solid $theme-color;
}
.active-navbar-letter{
    color: $theme-color !important;
    font-weight: 700;
    border-bottom: 3px solid $theme-color;
}
.as-list{
    padding: 0;
}
.as-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 15px;
    text-decoration: none !important;
    color: #555 !important;
    font-size: 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.as-list-item:hover{
    background-color: #f1f1f1;
}
.as-list-item .store-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.as-list-item .store-info .store-logo{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 2px rgb(204, 204, 204);
}
.as-list-item .coupons-count{
    color: #fff;
    background-color: $theme-color;
    border: 1px solid $theme-color;
    border-radius: 8px;
    padding: 5px 8px;
}
/* filtered stores body area*/
@media only screen and (max-width: 1165px){
    .as-main-container{
        width: 100%;
        padding: 0 30px;
    }   
}
@media only screen and (max-width: 1000px){
    .ts-container:nth-child(n){
        width: calc(20% - 16px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: #fff;
    }
    .ts-container:nth-child(5n){
        margin: 0 0 20px 0;
    }
    .as-category-outer-container{
        display: none;
    }
    .as-body-container{
        width: 100%;
    }
}
@media only screen and (max-width: 900px){
    .ts-container:nth-child(n){
        width: calc(25% - 15px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: #fff;
    }
    .ts-container:nth-child(4n){
        margin: 0 0 20px 0;
    }
}
@media only screen and (max-width: 750px){
    .ts-container:nth-child(n){
        width: calc(33% - 9px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: #fff;
    }
    .ts-container:nth-child(3n){
        margin: 0 0 15px 0;
    }
    .ts-logo{
        width: 100px;
        height: 100px;
    }
    .as-letters-navbar{
        display: none;
    }
    .as-container .letters-dropdown{
        display: block;
    }
    .as-list-item{
        font-size: 14px;
    }
}
@media only screen and (max-width: 500px){
    .ts-container:nth-child(n){
        width: calc(50% - 8px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: #fff;
    }
    .ts-container:nth-child(2n){
        margin: 0 0 15px 0;
    }
    .ts-logo{
        width: 100px;
        height: 100px;
    }
    .as-body-container{
        padding: 15px;
    }
    .as-list-item{
        font-size: 12px;
    }
}
@media only screen and (max-width: 300px){
    .ts-logo{
        width: 60px;
        height: 60px;
    }
}