.ac-main-container{
    width: 1150px;
    margin: 30px auto;
}
.ac-main-heading{
    font-size: 26px;
    font-weight: 700;
}
.tc-main-container{
    width:100%;
    margin: 20px 0;
}
.tc-heading{
    font-size: 22px;
    font-weight: 700;
}
.tc-list-container{
    width: 100%;
    margin: 30px 0 30px 0;
    display:flex;
    flex-wrap: wrap;
}
.tc-container:nth-child(n){
    width: calc(16.666667% - 16.67px);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fff;
}
.tc-container:nth-child(6n){
    margin: 0 0 20px 0;
}
.tc-container a.tc-link{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid $border-color-ongrey;
    border-radius: 2px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-decoration: none;
    color: #555;
}
.tc-container a.tc-link:hover{
    box-shadow: 0 0 10px $boxshadow-color;
}
.tc-logo{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.tc-logo img{
    width: 100%;
    height: 100%;
}
.tc-container .tc-title{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.ac-mega-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: auto;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    padding: 30px;
}
.ac-main-heading{
    font-size: 22px;
    font-weight: 700;
}
.ac-container{
    width: 100%;
    margin: 20px 0;
}
.ac-letters-navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f1f1f1;
}
.ac-letters-navbar .ac-letters-navbar-item{
    padding: 20px 0 2px 0;
}
.ac-navbar-letter{
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 0 3px 20px 3px;
    text-decoration: none !important;
    color: #555 !important;
    cursor: pointer;
}
.ac-navbar-letter:hover{
    color: $theme-color !important;
    font-weight: 700;
    border-bottom: 3px solid $theme-color;
}
.active-navbar-letter{
    color: $theme-color !important;
    font-weight: 700;
    border-bottom: 3px solid $theme-color;
}
.ac-list{
    padding: 0;
}
.ac-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 15px;
    text-decoration: none !important;
    color: #555 !important;
    font-size: 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.ac-list-item:hover{
    background-color: #f1f1f1;
}
.ac-list-item .coupons-count{
    color: #fff;
    background-color: $theme-color;
    border: 1px solid $theme-color;
    border-radius: 8px;
    padding: 4px 8px;
}
@media only screen and (max-width: 1165px){
    .ac-main-container{
        width: 100%;
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1000px){
    .tc-container:nth-child(n){
        width: calc(20% - 16px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: #fff;
    }
    .tc-container:nth-child(5n){
        margin: 0 0 20px 0;
    }
}
@media only screen and (max-width: 900px){
    .tc-container:nth-child(n){
        width: calc(25% - 15px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: #fff;
    }
    .tc-container:nth-child(4n){
        margin: 0 0 20px 0;
    }
}
@media only screen and (max-width: 750px){
    .tc-container:nth-child(n){
        width: calc(33% - 9px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: #fff;
    }
    .tc-container:nth-child(3n){
        margin: 0 0 15px 0;
    }
    .tc-logo{
        width: 100px;
        height: 100px;
    }
    .ac-letters-navbar{
        display: none;
    }
    .ac-container .letters-dropdown{
        display: block;
    }
    .ac-list-item{
        font-size: 14px;
    }
}
@media only screen and (max-width: 500px){
    .tc-container:nth-child(n){
        width: calc(50% - 8px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: #fff;
    }
    .tc-container:nth-child(2n){
        margin: 0 0 15px 0;
    }
    .tc-logo{
        width: 100px;
        height: 100px;
    }
    .ac-main-container{
        padding: 15px;
    }
    .ac-list-item{
        font-size: 12px;
    }
}
@media only screen and (max-width: 300px){
    .tc-logo{
        width: 60px;
        height: 60px;
    }
}