.ab-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.rb-ab-wrapper{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}
.ab-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}
.ab-img-container{
    width: 420px;
    margin-right: 20px;
}
.ab-img-container img{
    width: 100%;
    height: auto;
}
.ab-details-container{
    display: flex;
    flex-direction: column;
    color: #555;
}
.ab-details-container .ab-title{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.ab-details-container .ab-title:hover{
    color: $blog-link-color-onhover;
}
.ab-details-container .ab-author{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}
@media only screen and (max-width: 700px){
    .ab-img-container{
        width: 100%;
    }
    .ab-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }
    .ab-details-container{
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        color: #555;
    }
    .ab-details-container .ab-title{
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
    }
}
