.ab-main-container{
    width: 100%;
}
.ab-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.ab-img-container{
    width: 405px;
    height: 225px;
}
.ab-img-container img{
    width: 100%;
    height: 100%;
}
.ab-details-container{
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    color: #555;
}
.ab-details-container .ab-title{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.ab-details-container .ab-title:hover{
    color: $blog-link-color-onhover;
}
.ab-details-container .ab-author{
    font-size: 12px;
    font-weight: 500;
}
