
.app-header-main-container {
    background-color: $theme-color;
    width: 100%;
    border-bottom: 2px solid $theme-color;
    position: relative;
}
.app-header-container {
    width: 1150px;
    margin: auto;
}
.app-header-wrapper{
    padding: 15px 0 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.app-header-logo {
    text-align: center;
}
.app-header-logo #logo {
    text-decoration: none;
    color: #fff;
    margin: 0 50px 0 20px;
    font-size: 25px;
    font-weight: bold;
}
.app-header-searchbar-container {
    width: 100%;
    margin-right: 20px;
    position: relative;
}
#app-header-searchbar {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 15px;
    background-color: #fff;
    background-position: 10px 5px;
    padding: 8px 20px 8px 50px;
    background-repeat: no-repeat;
    outline: none;
}
.app-header-search-items-container{
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #fff;
    z-index: 999999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ddd;
    display: none;
}
.app-header-searchbar-heading{
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0;
}
.app-header-search-items{
    display: none;
}
.app-header-search-items ul{
    width: 100%;
}
.app-header-search-items ul li{
    list-style: none;
    text-align: left;
    font-size: 14px;
}
.app-header-searched-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    padding: 10px 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-searched-item:hover{
    background-color: #D1D1D1;
    color: $theme-color;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    text-decoration: none;
}
.app-header-searched-item-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.app-header-searched-item-img img{
    width: 100%;
    height: 100%;
    border: 1px solid $border-color-onwhite;
}
.app-header-search-loading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}
//searched items
.app-header-searchbar-heading{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

// default items before search items
.app-header-searchbar-default-items ul{
    width: 100%;
    margin: 0;
}
.app-header-searchbar-default-items ul li{
    list-style: none;
    text-align: left;
    font-size: 14px;
}
.app-header-searchbar-default-items ul li a{
    display: block;
    text-decoration: none;
    border-radius: 2px;
    padding: 15px 15px 15px 20px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-searchbar-default-items ul li a:hover{
    background-color: #D1D1D1;
    color: $theme-color;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-nav-overlay-container{
    position: absolute;
    top: 119px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    display: none;
}
/*toggle button and list
--------------------------------------------------------------*/
.hamburger-menu-container{
    display: none;
}
.menu-toggle{
	flex:0 0 auto;
	max-width:45px;
    min-width: 45px;
	height:45px;
	border:2px solid #fff;
    border-radius: 3px;
	cursor:pointer;
	position:relative;
}
.hamburger,.cross{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.hamburger span{
	display:block;
	width:20px;
	height:3px;
	margin-bottom:3px;
	overflow:hidden;
	position:relative;
}
.hamburger span:last-child{
	margin:0;
}
.hamburger span:before,.hamburger span:after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background-color: #fff;
	transform:translateX(-200%);
	transition:transform ease 300ms;
}
.hamburger span:after{
	transform:translateX(0);
}
.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
	transition-delay:75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
	transition-delay:150ms;
}
.menu-toggle.active .hamburger span:before{
	transform:translateX(100%);
}
.menu-toggle.active .hamburger span:after{
	transform:translateX(200%);
}
.cross span{
	display:block;
	width:20px;
	height:3px;
	background-color:#fff;
	transform:translateY(50%) rotate(45deg) scaleX(0);
	transition:transform ease 200ms;
}
.cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(0);
}
.menu-toggle.active .cross span{
	transition-delay:450ms;
	transform:translateY(50%) rotate(45deg) scaleX(1);
}
.menu-toggle.active .cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(1);
}
.hamburger-menu-list .fa-angle-down{
    float: right;
    padding-top: 4px;
}
.hamburger-menu-list li{
  list-style: none;
  width: 100%;
  background-color: $theme-color;
}
.hamburger-menu-list li a{
  display: block;
  text-decoration: none;
  padding: 14px 30px;
  color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.hamburger-menu-list li a:hover{
  background-color: #0b78aa;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.hamburger-overlay-container{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}
.hamburger-menu-list li ul{
  display: none;
}
.hamburger-menu-list ul li{
  background-color: $theme-color-tonext;
}
.hamburger-menu-list ul li a{
  padding: 14px 50px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.hamburger-menu-list .fa-angle-right{
  padding-top: 4px;
  float: right;
}
.hamburger-menu-list ul li a:hover{
  background-color: #0b78aa;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
// top nav bar container
.app-header-nav-container{
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    white-space: nowrap;
}
.app-header-nav-list{
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.app-header-nav-item{
    float: left;
    list-style: none;
    text-align: center;
    margin: 0 20px;
    line-height: 20px;
}
.app-header-nav-item .fa-angle-down{
    font-size: 15px;
    margin-left: 5px;
}
.app-header-nav-item .app-header-nav-item-text{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 0 0 12px 0;
    font-size: 13px;
    border-bottom: 3px solid $theme-color;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.active-nav-list-item{
    border-bottom: 3px solid #fff !important;
}
.app-header-nav-item .app-header-nav-item-text:hover{
    border-bottom: 3px solid #fff;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-nav-body-container{
    width: 1150px;
    margin: auto;
    background-color: #fff;
    padding: 30px 60px;
    position: relative;
}
.app-header-nav-items-container{
    width: 100%;
    display: none;
}
.app-header-nav-topitems-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app-header-nav-topitem-container{
    width: calc(10% - 9px);
    padding: 7px 0;
    display: flex;
    justify-content: center;
    border: 1px solid #d1d1d1;
    margin: 0 10px 10px 0;
    text-decoration: none !important;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-nav-topitem-container:hover{
    box-shadow: 0 0 10px $boxshadow-color;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-nav-topitem-container:last-child{
    margin-right: 0;
}
.app-header-nav-topitem{
    display: flex;
    flex-direction: column;
    max-width: 65px;
    min-width: 65px;
}
.app-header-nav-topitem img{
    max-width: 65px;
    max-height: 65px;
    margin-bottom: 7px;
}
.app-header-nav-topitem .app-header-nav-topitem-text{
    color: #000;
    line-height: 1.2;
    font-size: 11px;
    font-weight: 500;
}
.app-header-nav-popularitems-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.app-header-nav-popularitems-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}
.app-header-nav-popularitems-heading span{
    font-size: 13px;
    font-weight: 700;
}
.app-header-nav-popularitems-heading a{
    font-size: 13px;
    font-weight: 500;
}
.app-header-nav-popularitems ul{
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    text-align: left;
}
.app-header-nav-popularitems ul li{
    width: calc(50% - 5px);
    background-color: $theme-color;
    margin-bottom: 5px;
    border: 1px solid $theme-color;
    padding: 0 10px;
    border-radius: 5px;
}
.app-header-nav-popularitems ul li:nth-child(n){
    margin-right: 10px;
}
.app-header-nav-popularitems ul li:nth-child(2n){
    margin-right: 0;
}
.app-header-nav-popularitems ul a{
    font-size: 13px;
    display: block;
    color: #fff;
}
.app-header-nav-topoffers-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.app-header-nav-topoffers-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.app-header-nav-topoffers-heading span{
    font-size: 13px;
    font-weight: 700;
}
.app-header-nav-topoffers-heading a{
    font-size: 13px;
    font-weight: 500;    
}
.app-header-nav-top-offer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app-header-nav-topoffer-container{
    width: calc(50% - 5px);
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    text-decoration: none !important;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-nav-topoffer-container:nth-child(odd){
    margin-right: 10px;
    margin-bottom: 10px;
}
.app-header-nav-topoffer-container:nth-child(even){
    margin-right: 0;
    margin-bottom: 10px;
}
.app-header-nav-topoffer-container:hover{
    box-shadow: 0 0 10px $boxshadow-color;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-header-nav-topoffer-storelogo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.app-header-nav-topoffer-details{
    width: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 10px;
    border-left: 1px solid #d1d1d1;
    white-space: normal !important;
}
.app-header-nav-topoffer-title{
    font-size: 13px;
    font-weight: 500;
    color: #555;
}
.app-header-nav-topoffer-type-container{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}
.app-header-nav-topoffer-storetitle{
    font-size: 12px;
    font-weight: 500;
    color: #999999f3;
    margin-right: 5px;
}
.app-header-nav-topoffer-type{
    font-size: 12px;
    font-weight: 700;
    color: red;
}
// loading container
.app-header-nav-top-items-loading{
    height: 100px;
    width: 100%;
}
.app-header-nav-popular-items-loading{
    margin-top: 20px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}  
.text-line {
    height: 10px;
    width: 100%;
    margin-bottom: 4px;
}
// end loading container

@media only screen and (max-width: 1165px){
    .app-header-container{
        width: 100%;
        padding: 0 20px;
    }
    .app-header-nav-list{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .app-header-nav-overlay-container{
        padding: 0 20px;
    }
    .app-header-nav-body-container{
        width: 100%;
    }
}
@media only screen and (max-width: 1100px){
    .app-header-nav-topitem-container{
        width: calc(20% - 10px);
        display: flex;
        justify-content: center;
        border: 1px solid #d1d1d1;
        margin: 0 10px 10px 0;
        text-decoration: none !important;
        transition: 0.2s;
        -webkit-transition: 0.2s;
    }
}
@media only screen and (max-width: 890px){
    .app-header-nav-container{
        display: none;
    }
    .app-header-logo{
        display: none;
    }
    .app-header-searchbar-container {
        width: 100%;
        margin-right: 20px;
    }
    .app-header-hamburger{
        display: block;
    }
}