.fo-main-container{
    display: flex;
    flex-direction: row;
    width: 1150px;
    margin: 30px auto;
}
.fo-sb{
    width: 270px;
    padding: 0 20px;
}
.fo-sb-storelogo-container{
    width: 100%;
    margin-bottom: 30px;
}
.fo-sb-store-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $border-color-ongrey;
    border-radius: 2px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    color: #555 !important;
    text-align:center;
    text-decoration: none !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.fo-sb-store-link:hover{
    box-shadow: 0 0 10px $boxshadow-color;
}
.fo-sb-store-link .fo-sb-storetitle{
    font-size: 15px;
    font-weight: 500;
}
.fo-sb-storelogo{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.fo-sb-offers-availability{
    width: 100%;
    text-align:center;
    font-weight: 600;
    font-size: 22px;
    margin-top: 10px;
}
.fo-db{
    width: 900px;
    padding: 0 20px;
}
.fo-sb-list-container{
    width: 100%;
    max-height: 425px;
    overflow: auto;
}
.fo-sb-list-container ul{
    margin-top: 2px;
}
.fo-sb-list-container ul .fo-sb-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px;
    background-color: #fff;
    margin-top: -1px;
    border: 1px solid #ddd;
    color: #555;
    text-decoration: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.fo-sb-list-container ul .fo-sb-list-item:hover{
    background-color: #f1f1f1;
}
.fo-sb-list-container ul .fo-sb-list-item .item-title{
    font-size: 14px;
    margin-right: 5px;
}
.fo-sb-list-container ul .fo-sb-list-item .coupons-count{
    color: #fff; 
    background-color: $theme-color;
    padding: 2px 6px;
    border: 1px solid $theme-color;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
}
/* style for custom scrollbar*/
.fo-sb-list-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.fo-sb-list-container::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}
.fo-sb-list-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $theme-color;
}
/* style for custom scrollbar*/
.fo-db-heading{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 25px;
    font-size: 25px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    background-color: $theme-color; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, $theme-color, $theme-color, #1488CC);
}
.fo-db-offers-list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fo-db-offerbody-container{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    text-decoration: none !important;
    border: 1px solid $border-color-ongrey;
    border-radius: 2px;
    padding: 30px;
    background-color: #fff;
    color: #555 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    margin-bottom: 5px;
}
.fo-db-offerbody-container:hover{
    box-shadow: 0 0 10px $boxshadow-color;
}
.fo-db-anchor{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #DC002E;
    line-height: 1.2;
}
.fo-db-logo{
    width: 100px;
    height: 100px;
}
.fo-db-logo img{
    width: 100%;
    height: 100%;
}
.fo-db-action-container{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
}
.fo-db-offer-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    padding: 0 30px;
}
.fo-db-offertitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}
.fo-db-offerdetails{
    font-size: 16px;
    font-weight: 400;
}
.fo-db-offer-expires{
    color: #929292;
    font-size: 12px;
    font-weight: 400;
    margin-top:5px;
}
.fo-db-offer-expires .fa-clock-o{
    margin-right: 5px;
}
.fo-db-offer-button-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.fo-db-offer-button-container .offer-button{
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: $theme-color;
    border: none;
    outline: none;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor:pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    margin-bottom: 7px;
}
.fo-db-offer-button-container .offer-button:hover{
    background-color: $theme-color-tonext !important;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.fo-sb-content-container{
    margin-bottom: 30px;
}
.fo-sb-content-heading{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fo-sb-content-heading .reset-category-filters{
    font-size: 15px;
    color: $link-color-onhover;
    cursor: pointer;
    display: none;
}
.fo-sb-content-heading .reset-category-filters:hover{
    text-decoration: underline;
}
.fo-sb-content-heading .reset-store-filters{
    font-size: 15px;
    color: $link-color-onhover;
    cursor: pointer;
    display: none;
}
.fo-sb-content-heading .reset-store-filters:hover{
    text-decoration: underline;
}
.fo-store-details{
    font-size: 14px;
    font-weight: 400;
}
.fo-db-type-and-verified-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
}
.fo-db-offertype-code{
    color: $offer-type-code-color;
}
.fo-db-offertype-instoreoffer{
    color: $offer-type-instorecoupon-color;
}
.fo-db-offertype-else{
    color: $offer-type-else-color;
}
.offer-verification-container{
    color: $theme-color;
    font-weight: 500;
}
.offer-verification-container .fa-check-circle{
    margin-right: 3px;
    margin-left: 10px;
    font-weight: 1000;
}
// custom checkbox
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 1px solid $border-color-ongrey;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: $theme-color;
    border: 1px solid $theme-color;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: $theme-color;
    border: 1px solid $theme-color;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pagination{
    margin-top: 30px;
}
.pagination a{
    color: $theme-color;
}
.pagination .page-item.active .page-link{
    background-color: $theme-color !important;
    border: 1px solid $theme-color;
}
@media only screen and (max-width: 1165px){
    .fo-main-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 10px;
        margin: 30px auto; 
    }
    .fo-sb{
        flex: 0 0 270px;
        padding: 0 20px;
    }
    .fo-db{
        width: 100%;
        padding: 0 20px;
    }
}
@media only screen and (max-width: 1000px){
    .fo-sb{
        display: none;
    }
}
@media only screen and (max-width: 750px){
    .fo-db-action-container{
        width: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        padding: 0 0 0 20px;
    }
    .fo-db-offer-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .fo-db-offerdetails{
        display: none;
    }
    .fo-db-offer-expires{
        display: none;
    }
    .fo-db-offer-button-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 600px){
    .fo-db{
        padding: 0;
    }
}
@media only screen and (max-width: 500px){
    .fo-db-heading{
        width: 100%;
        margin-bottom: 10px;
        padding: 15px 25px;
        font-size: 22px;
        font-weight: 500;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
        background-color: $theme-color; /* For browsers that do not support gradients */
        background-image: linear-gradient(90deg, $theme-color, $theme-color, #1488CC);
    }
    .fo-db-anchor{
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: #DC002E;
    }
    .fo-db-logo{
        width: 80px;
        height: 80px;
    }
    .fo-db-action-container{
        width: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        padding: 0 0 0 15px;
    }
    .fo-db-offer-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .fo-db-offertitle{
        font-size: 15px;
        font-weight: 500;
        line-height: 1.2;
    }
    .fo-db-offerdetails{
        display: none;
    }
    .fo-db-offer-expires{
        display: none;
    }
    .fo-db-type-and-verified-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 12px;
    }
    .offer-verification-container{
        color: $theme-color;
        font-weight: 500;
    }
    .offer-verification-container .fa-check-circle{
        margin-right: 3px;
        margin-left: 10px;
        font-weight: 1000;
    }
    .fo-db-offer-button-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
    }
    .fo-db-offer-button-container .offer-button{
        width: 100%;
        padding: 5px;
        text-align: center;
        background-color: $theme-color;
        border: none;
        outline: none;
        border-radius: 2px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        cursor:pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin-bottom: 7px;
    }
}