
.footer-content {
    background-color: #044D6E;
    color: white;
    width: 100%;
}
.footer-content .footer-copyright {
    background-color: #262537;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: right;
}
.column:hover h5 {
    color: #00aced;
}
.column {
    text-align: center;
}
.footer-content .footer-copyright p {
    margin: 10px;
    margin-right: 10%;
    color: #ccc;
}
.footer-content ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
.footer-content h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
.footer-content a {
    color: #d2d1d1;
    text-decoration: none;
}
.footer-content a:hover, .footer-content a:focus {
    text-decoration: none;
    color: white;
}
.footer-content .myCols {
    text-align: center;
}
.footer-content .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}
.footer-content .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
.footer-content .social-networks a:hover {
    text-decoration: none;
}
.footer-content .facebook:hover {
    color: #0077e2;
}
.footer-content .google:hover {
    color: #ef1a1a;
}
.footer-content .twitter:hover {
    color: #00aced;
}
body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}
.body-content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}
.footer-content {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}
@media only screen and (max-width: 820px) {
    .footer-columns {
        width: 80%;
        margin-left: 10%;
        margin-top: 1%;
        display: grid;
        grid-template-rows: 150px 150px;
        grid-template-columns: 1.1fr 1.1fr;
        grid-column-gap: 40px;
        grid-row-gap: 10px;
    }
}
@media only screen and (min-width: 819px) {
    .footer-columns {
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        display: grid;
        grid-template-rows: 160px;
        grid-template-columns: 1.1fr 1.1fr 1.1fr 1.1fr;
        grid-gap: 40px;
    }
}
