
.footer-content {
    margin-top:-27px;
    background-color: $theme-color;
    color: white;
    width: 100%;
}
.footer-columns .column h5{
    margin-bottom: 25px;
}
.footer-content .footer-copyright {
    background-color: $footercopyrights-backgroundcolor;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: right;
}
.column {
    text-align: left;
}
.footer-content .footer-copyright p {
    margin: 10px;
    margin-right: 10%;
    color: #ccc;
}
.footer-content ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
.footer-content h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
.footer-content a {
    color: #d2d1d1;
    text-decoration: none;
}
.footer-content a:hover, .footer-content a:focus {
    text-decoration: none;
    color: white;
}
.footer-content {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}
.social-networks [class*="fa fa-"] {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border:1.5px solid #ddd; /* add border to the buttons */
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
    transition: 0.6s;
}
.social-networks a{
    padding: 3px;
}
.social-networks .twitter .fa-twitter:hover{
    background-color: white;
    border-color: $footertwittericon-onhover-color;
    color: $footertwittericon-onhover-color;
    transition: 0.5s;
}
.social-networks .facebook .fa-facebook:hover{
    background-color: white;
    border-color: $footerfacebookicon-onhover-color;
    color: $footerfacebookicon-onhover-color;
    transition: 0.5s;
}
.social-networks .google .fa-google:hover{
    background-color: white;
    border-color: $footergoogleicon-onhover-color;
    color: $footergoogleicon-onhover-color;
    transition: 0.5s;
}
.social-networks .instagram .fa-instagram:hover{
    background-color: white;
    border-color: $footerinstagramicon-onhover-color;
    color: $footerinstagramicon-onhover-color;
    transition: 0.5s;
}
@media only screen and (max-width: 911px) {
    .footer-columns {
        width: 80%;
        margin-left: 10%;
        margin-top: 1%;
        display: grid;
        grid-template-rows: 250px 200px;
        grid-template-columns: 1.1fr 1.1fr;
        grid-column-gap: 40px;
        grid-row-gap: 10px;
    }
}
@media only screen and (min-width: 910px) {
    .footer-columns {
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        grid-gap: 50px;
    }
}
