
.site-header-main-container {
    background-color: $theme-color;
    width: 100%;
    position: relative;
}
.site-header-container {
    width: 1100px;
    margin: auto;
}
.site-header-wrapper{
    padding: 15px 0 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.site-header-logo {
    text-align: center;
}
.site-header-logo #logo {
    text-decoration: none;
    color: #fff;
    margin: 0 50px 0 20px;
    font-size: 25px;
    font-weight: bold;
}
.site-header-searchbar {
    width: 100%;
    margin-right: 20px;
    position: relative;
}
.site-header-searchbar #searchbar {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 15px;
    background-color: #fff;
    background-position: 10px 5px;
    padding: 8px 20px 8px 50px;
    background-repeat: no-repeat;
    outline: none;
}
.site-header-search-items-container{
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #fff;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
}
.site-header-search-items-container .site-header-search-items{
    display: none;
}
//searched items
.site-header-search-items-container .site-header-search-items .site-header-default-items-heading{
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0;
}
.site-header-search-items-container .site-header-search-items ul{
    width: 100%;
    margin: 0;
}
.site-header-search-items-container .site-header-search-items ul li{
    list-style: none;
    text-align: left;
    font-size: 14px;
}
.site-header-search-items-container .site-header-search-items ul li a{
    display: block;
    text-decoration: none;
    border-radius: 2px;
    padding: 15px 15px 15px 20px;
}
.site-header-search-items-container .site-header-search-items ul li a:hover{
    background-color: #D1D1D1;
    color: $theme-color;
}
// default items before search items
.site-header-search-items-container .site-header-default-items ul{
    width: 100%;
    margin: 0;
}
.site-header-search-items-container .site-header-default-items ul li{
    list-style: none;
    text-align: left;
    font-size: 14px;
}
.site-header-search-items-container .site-header-default-items ul li a{
    display: block;
    text-decoration: none;
    border-radius: 2px;
    padding: 15px 15px 15px 20px;
}
.site-header-search-items-container .site-header-default-items ul li a:hover{
    background-color: #D1D1D1;
    color: $theme-color;
}
.site-header-search-items-container .site-header-default-items .site-header-default-items-heading{
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0;
}
.site-header-explorebutton {
    height: 50px;
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid $theme-color;
    cursor: pointer;
    outline: none;
    background-color: $theme-color;
    color: #fff;
    text-align: center;
    transition: 0.6s;
}
.site-header-explorebutton:hover{
    background-color: $theme-color-tonext;
    transition: 0.6s;
}
.active-site-header-explorebutton{
    background-color: $theme-color-tonext;
}
.site-header-explorebutton-mega-dropdown-sidebar-container{
    text-align: center;
}
.site-header-nav-mega-dropdown-overlay-container{
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}





/////////////////////////////////////////////////////************************************************///////////////////////////////






.site-header-explorebutton-mega-dropdown {
    width: 1100px;
    margin: auto;
    z-index: 2;
    position: relative;
}
.site-header-explorebutton-mega-dropdown:after, .site-header-explorebutton-mega-dropdown:before {
	bottom: 100.5%;
	right: 65px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.site-header-explorebutton-mega-dropdown:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.site-header-explorebutton-mega-dropdown:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}


.site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container{
    width: 100%;
    height: 480px;
    display: flex;
    flex-wrap: nowrap;
    cursor: auto;
    z-index: 2;
}

/* drop down side bar
------------------------------------*/

.site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container .site-header-explorebutton-mega-dropdown-sidebar-container{
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: $body-backgroundcolor;
}
.site-header-explorebutton-mega-dropdown-sidebar-container h2{
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #7D7D7D;
    margin-bottom: 30px;
}
.site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container .site-header-explorebutton-mega-dropdown-sidebar-container ul{
    width: 100%;
    margin: 0;
}
.site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container .site-header-explorebutton-mega-dropdown-sidebar-container ul li{
    list-style: none;
    text-align: left;
    margin-top: 5px;
    position: relative;
}
.active-sidebar-li{
    background-color: #D1D1D1;
    color: $theme-color !important;
}
.site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container .site-header-explorebutton-mega-dropdown-sidebar-container ul li a{
    display: block;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 2px;
    padding: 12px 12px 12px 20px;
}
.site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container .site-header-explorebutton-mega-dropdown-sidebar-container ul li a:hover{
    background-color: #D1D1D1;
    color: $theme-color;
}
.site-header-explorebutton-mega-dropdown-sidebar-container .fa-angle-right{
    position: absolute; 
    top: calc(50% - 8.5px); 
    right: 20px;
}
/* drop down detail container
--------------------------------------*/

.site-header-explorebutton-mega-dropdown-detail-container{
    width: 850px;
    height: 100%;
    background-color: #fff;
}
/*toggle button and list
--------------------------------------------------------------*/
.site-header-hamburger-mega-menu-container{
    display: none;
}
.menu-toggle{
	flex:0 0 auto;
	max-width:45px;
    min-width: 45px;
	height:45px;
	border:2px solid #fff;
    border-radius: 3px;
	cursor:pointer;
	position:relative;
}
.hamburger,.cross{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.hamburger span{
	display:block;
	width:20px;
	height:3px;
	margin-bottom:3px;
	overflow:hidden;
	position:relative;
}
.hamburger span:last-child{
	margin:0;
}
.hamburger span:before,.hamburger span:after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background-color: #fff;
	transform:translateX(-200%);
	transition:transform ease 300ms;
}
.hamburger span:after{
	transform:translateX(0);
}
.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
	transition-delay:75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
	transition-delay:150ms;
}
.menu-toggle.active .hamburger span:before{
	transform:translateX(100%);
}
.menu-toggle.active .hamburger span:after{
	transform:translateX(200%);
}
.cross span{
	display:block;
	width:20px;
	height:3px;
	background-color:#fff;
	transform:translateY(50%) rotate(45deg) scaleX(0);
	transition:transform ease 200ms;
}
.cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(0);
}
.menu-toggle.active .cross span{
	transition-delay:450ms;
	transform:translateY(50%) rotate(45deg) scaleX(1);
}
.menu-toggle.active .cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(1);
}
.hamburger-mega-menu-list .fa-angle-down{
    float: right;
    padding-top: 4px;
}
.hamburger-mega-menu-list li{
  list-style: none;
  width: 100%;
  background-color: $theme-color;
}
.hamburger-mega-menu-list li a{
  display: block;
  text-decoration: none;
  padding: 14px 30px;
  color: #fff;
}
.hamburger-mega-menu-list li a:hover{
  background-color: #0b78aa;
}
.hamburgerbutton-mega-menu-overlay-container{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  display: none;
}
.hamburger-mega-menu-list li ul{
  display: none;
}
.hamburger-mega-menu-list ul li{
  background-color: $theme-color-tonext;
}
.hamburger-mega-menu-list ul li a{
  padding: 14px 50px;
}
.hamburger-mega-menu-list .fa-angle-right{
  padding-top: 4px;
  float: right;
}
.hamburger-mega-menu-list ul li a:hover{
  background-color: #0b78aa;
}
.site-header-nav-container{
    width: 100%;
}
.site-header-nav-list{
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.site-header-nav-list-item{
    float: left;
    list-style: none;
    text-align: center;
    margin: 0 20px;
    line-height: 20px;
}
.site-header-nav-list-item .fa-angle-down{
    font-size: 15px;
    margin-left: 5px;
}
.site-header-nav-list-item a, .site-header-nav-list-item span{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 0 0 12px 0;
    font-size: 13px;
    border-bottom: 3px solid $theme-color;
    cursor: pointer;
}
.active-nav-list-item{
    border-bottom: 3px solid #fff !important;
}
.site-header-nav-list-item a:hover, .site-header-nav-list-item span:hover{
    border-bottom: 3px solid #fff;
}
.site-header-nav-mega-dropdown-body-container{
    width: 1100px;
    height: 500px;
    margin: auto;
    background-color: #fff;
    padding: 30px 60px;
}
.site-header-nav-mega-dropdown-topitems-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}






@media only screen and (max-width: 1117px){
    .site-header {
        padding: 0 30px;
        width: 100%;
    }
    .site-header-explorebutton-mega-dropdown{
        width: 100%;
    }
    .site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container .site-header-explorebutton-mega-dropdown-sidebar-container{
        flex: 0 0 250px;
    }
    .site-header-explorebutton-mega-dropdown-detail-container{
        width: 100%;
        height: 100%;
    }
    .site-header-explorebutton-mega-dropdown:after, .site-header-explorebutton-mega-dropdown:before {
        bottom: 100.5%;
        right: 95px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .site-header-explorebutton-mega-dropdown:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .site-header-explorebutton-mega-dropdown:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .site-header-explorebutton-mega-dropdown .site-header-explorebutton-mega-dropdown-body-container{
        padding: 0 20px;
    }
    .dropdownmenu-popularstore-body-container,.dropdownmenu-popularcategories-body-container,.dropdownmenu-onlinecodes-body-container,.dropdownmenu-instoreoffers-body-container,.dropdownmenu-specialevents-body-container,.loader-overlay-container{
        display: none;
    }
}
@media only screen and (max-width: 900px){
    .site-header-logo{
        display: none;
    }
    .site-header-explorebutton-mega-menu-container{
        display: none;
    }
    .site-header-searchbar {
        width: 100%;
        margin-right: 20px;
    }
    .site-header-hamburger-mega-menu-container{
        display: block;
    }
}