
.site-header-container {
    background-color: $theme-color;
    width: 100%;
    height: 80px;
}
.site-header {
    width: 1100px;
    height: 75px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.site-header-logo {
    text-align: center;
}
.site-header-logo #logo {
    text-decoration: none;
    color: $whitecolor;
    margin: 0 50px 0 20px;
    font-size: 25px;
    font-weight: bold;
}
.site-header-searchbar {
    width: 100%;
    margin-right: 30px;
}

#searchbar {
    width: 100%;
    border: 2px solid $topsearchbar-bordercolor;
    border-radius: 4px;
    font-size: 16px;
    background-color: $whitecolor;
    background-position: 10px 8px;
    padding: 10px 20px 10px 50px;
    background-repeat: no-repeat;
}
.site-header-explorebutton {
    height: 50px;
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid $theme-color;
    cursor: pointer;
    outline: none;
    background-color: $theme-color;
    color: $whitecolor;
    text-align: center;
    transition: 0.6s;
}
.site-header-explorebutton:hover{
    background-color: $dropdownbutton-onhover-backgroundcolor;
    transition: 0.6s;
}
.site-header-explorebutton .dropdown {
    left:0;
    padding:0;
    margin: 0;
    display:none;
    position:absolute;
    top:80px;
    z-index: 2;
}
.site-header-explorebutton .dropdown:after, .site-header-explorebutton .dropdown:before {
	bottom: 100.5%;
	right: 65px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.site-header-explorebutton .dropdown:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.site-header-explorebutton .dropdown:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}


.dropdown .dropdown-body-container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    cursor: auto;
    z-index: 99.99;
}

/* drop down side bar
------------------------------------*/

.dropdown .dropdown-body-container .dropdown-sidebar-container{
    width: 250px;
    height: 100%;
    background-color: #F1F1F1;
}
.dropdown-sidebar-container h2{
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    margin: 20px 0 30px 0;
}
.dropdown .dropdown-body-container .dropdown-sidebar-container ul{
    max-width: 220px;
    margin: auto;
}

.dropdown .dropdown-body-container .dropdown-sidebar-container ul li{
    list-style: none;
    text-align: left;
    border-radius: 2px;
    line-height: 45px;
    margin-top: 5px;
    position: relative;
}

.active{
    background-color: #D1D1D1;
}

.activelink{
    color: #205081 !important;
}

.dropdown .dropdown-body-container .dropdown-sidebar-container ul li:hover{
    background-color: #D1D1D1;
    text-decoration: none;
}

.dropdown .dropdown-body-container .dropdown-sidebar-container ul li a{
    display: block;
    color: #000000;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
}

.dropdown .dropdown-body-container .dropdown-sidebar-container ul li a:hover{
    text-decoration: none;
}

.fa-angle-right{
    position: absolute; 
    top: calc(50% - 8.5px); 
    right: 20px;
}

/* drop down detail container
--------------------------------------*/

.dropdown-detail-container{
    width: 850px;
    height: 100%;
    background-color: #ffffff;
}

/* popular stores in drop down detail container
--------------------------------------------------*/
.dropdownmenu-popularstore-body-container{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}
.dropdownmenu-popularstores-header-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dropdownmenu-popularstores-header-container .dropdownmenu-popularstores-main-heading{
    color: gray;
    font-size: 18px;
    font-family: 'Calibri';
}
.dropdownmenu-popularstores-header-container #all-stores-link{
    color: $dropdownmenu-links-color;
    font-size: 15px;
}
.dropdownmenu-popularstores-list-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.dropdownmenu-store-material-container{
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdownmenu-store-material-container .dropdownmenu-store-logo{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}
.dropdownmenu-store-material-container .dropdownmenu-store-logo img{
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 100%;
}
.dropdownmenu-store-material-container .dropdownmenu-store-title{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $dropdownmenu-links-color;
}
/* popular categories in drop down detail container
--------------------------------------------------*/
.dropdownmenu-popularcategories-body-container{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}
.dropdownmenu-popularcategories-header-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dropdownmenu-popularcategories-header-container .dopdownmenu-popularcategories-main-heading{
    color: gray;
    font-size: 18px;
    font-family: 'Calibri';
}
.dropdownmenu-popularcategories-header-container #dropdownmenu-all-categories-link{
    color: $dropdownmenu-links-color;
    font-size: 15px;
}
.dropdownmenu-popularcategories-list-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.dropdownmenu-category-material-container{
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdownmenu-category-material-container .dropdownmenu-category-logo{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}
.dropdownmenu-category-material-container .dropdownmenu-category-logo img{
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 100%;
}
.dropdownmenu-category-material-container .dropdownmenu-category-title{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $dropdownmenu-links-color;
}
/* special events in drop down detail container
--------------------------------------------------*/
.dropdownmenu-specialevents-body-container{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}
.dropdownmenu-specialevents-header-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dropdownmenu-specialevents-header-container .dropdownmenu-specialevents-main-heading{
    color: gray;
    font-size: 18px;
    font-family: 'Calibri';
}
.dropdownmenu-specialevents-list-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.dropdownmenu-specialevents-material-container{
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdownmenu-specialevents-material-container .dropdownmenu-event-logo{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}
.dropdownmenu-specialevents-material-container .dropdownmenu-event-logo img{
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 100%;
}
.dropdownmenu-specialevents-material-container .dropdownmenu-event-title{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $dropdownmenu-links-color;
}
@media only screen and (max-width: 1117px){
    .site-header {
        padding: 0 30px;
        width: 100%;
    }
    .dropdown .dropdown-body-container .dropdown-sidebar-container{
        flex: 0 0 250px;
    }
    .dropdown-detail-container{
        width: 100%;
        height: 100%;
    }
    .site-header-explorebutton .dropdown:after, .site-header-explorebutton .dropdown:before {
        bottom: 100.5%;
        right: 95px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .site-header-explorebutton .dropdown:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }
    .site-header-explorebutton .dropdown:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }
    
    .dropdown .dropdown-body-container{
        padding: 0 20px;
    }
}
@media only screen and (max-width: 850px){
    .site-header-logo{
        display: none;
    }
    .site-header-explorebutton{
        display: none;
    }
    .site-header-searchbar {
        width: 100%;
        margin: 0;
    }
}