.hm-blog-main-container{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
.hm-blogs-heading{
    font-size:25px;
    font-weight: 700;
}
.hm-blogs-container{
    width: 1150px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
.hm-blog-container:nth-child(n){
    width: calc(33% - 24px);
    margin: 0 40px 40px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.hm-blog-container:nth-child(3n){
    margin: 0 0 40px 0;
}
.hm-blog-container .blog-image{
    width: 100%;
    margin-bottom: 15px;
}
.hm-blog-container .blog-image img{
    width: 100%;
    height: auto;
}
.hm-blog-container .blog-title{
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hm-blog-container .blog-title a{
    white-space: nowrap;
}
.hm-blog-container .readnow-link{
    font-size: 14px;
    font-weight: 400;
}
.hm-blog-container .readnow-link a{
    color: $link-color-onhover;
}
@media only screen and (max-width: 1167px){
    .hm-blogs-container{
        width: 100%;
        padding: 0 30px;
    }
    .hm-blogs-heading{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 875px){
    .hm-blog-container:nth-child(n){
        width: calc(50% - 20px);
        margin: 0 40px 40px 0;
        display: flex;
        flex-direction: column;
        text-decoration: none !important;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
    .hm-blog-container:nth-child(2n){
        margin: 0 0 40px 0;
    }
}
@media only screen and (max-width: 500px){
    .hm-blog-container:nth-child(n){
        width: 100%;
        margin: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        text-decoration: none !important;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
}