.modal-overlay-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    overflow-y: scroll;
    padding: 30px 0;
}
.modal-container{
    position: relative;
    width: 800px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0 0 30px #555;
    margin: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}
//animation
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-header-content{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 20px;
}
.modal-header-content .modal-close-button{
    font-size: 35px;
    color: red;
    cursor: pointer;
}
.modal-header-content .modal-close-button:hover{
    color: #033349;
}
.modal-body-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-store-logo{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
.modal-store-logo img{
    width: 100%;
    height: 100%;
}
.modal-offer-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.modal-code-block{
    text-align: center;
}
.modal-code-block .action-taken{
    font-size: 28px;
    color: $theme-color;
    font-weight: 700;
    margin-bottom: 10px;
}
.modal-code-block .action-taken .fa-check-circle{
    font-weight: 1000;
    margin-right: 10px;
}
.modal-code-block .tip{
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 5px;
}
.modal-code-block .tip a{
    color: $link-color-onhover;
}
.modal-offer-code{
    padding: 15px 22px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid $border-color-ongrey;
    background-color: $border-color-ongrey;
    border-radius: 2px;
    cursor: pointer;
    user-select: all;
    margin-bottom: 10px;
}
.modal-sale-block{
    text-align: center;
}
.modal-sale-block .tip{
    font-size: 22px;
    color: $theme-color;
    font-weight: 700;
    margin-bottom: 10px;
}
.modal-sale-block .store-link{
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 7px 65px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: $theme-color;
    color: #fff;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.modal-sale-block .store-link:hover{
    background-color: $theme-color-tonext;
    text-decoration: none;
}
.modal-footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.modal-footer-main-heading{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.modal-offer-expires{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 7px;
}
.modal-offer-expires .fa-clock-o{
    margin-right: 5px;
}
.modal-offer-details{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 7px;
}
@media only screen and (max-width: 800px){
    .modal-overlay-container{
        padding: 0 20px;
    }
    .modal-container{
        width: 100%;
    }
}