.store-coupons-main-container{
    display: flex;
    flex-direction: row;
    width: 1150px;
    margin: 30px auto;
}
.store-coupons-sidebar{
    width: 250px;
    padding: 0 20px;
}
.store-coupons-sidebar-storelogo-container{
    width: 100%;
    margin-bottom: 30px;
}
.store-coupons-sidebar-store-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid $border-color-ongrey;
    border-radius: 2px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    text-align:center;
    text-decoration: none !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.store-coupons-sidebar-store-link:hover{
    box-shadow: 0 0 10px $boxshadow-color;
}
.store-coupons-sidebar-storelogo{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.store-coupons-sidebar-offers-availability{
    width: 100%;
    text-align:center;
    font-weight: 600;
    font-size: 22px;
}
.store-coupons-detailbar{
    width: 900px;
    padding: 0 20px;
}
.store-coupons-detailbar-heading{
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}
.store-coupons-detailbar-coupons-list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.store-coupons-detailbar-coupon-container{
    width:100%;
    margin-bottom: 10px;
}
.store-coupons-detailbar-coupon-link{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    text-decoration: none !important;
    border: 1px solid $border-color-ongrey;
    border-radius: 2px;
    padding: 20px;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.store-coupons-detailbar-coupon-link:hover{
    box-shadow: 0 0 10px $boxshadow-color;
}
.store-coupons-detailbar-coupon-title{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-right: 1px solid $border-color-ongrey;
    font-size: 25px;
    font-weight: 700;
    color: #DC002E;
}
.store-coupons-detailbar-offer-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 320px);
    margin: 0 10px;
}
.store-coupons-detailbar-offertitle{
    font-size: 22px;
    font-weight: 500;
}
.store-coupons-detailbar-offertype-code{
    color: $offer-type-code-color;
    font-size: 15px;
    font-weight: 700;
    flex-grow: 1;
}
.store-coupons-detailbar-offertype-instorecoupon{
    color: $offer-type-instorecoupon-color;
    font-size: 15px;
    font-weight: 700;
    flex-grow: 1;
}
.store-coupons-detailbar-offertype-else{
    color: $offer-type-else-color;
    font-size: 15px;
    font-weight: 700;
    flex-grow: 1;
}
.store-coupons-detailbar-coupon-expires{
    color: #929292;
    font-size: 14px;
    font-weight: 400;
    margin-top:5px;
}
.store-coupons-detailbar-coupon-expires .fa-clock-o{
    margin-right: 5px;
}
.store-coupons-detailbar-offer-button-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.store-coupons-detailbar-offer-button-container #offer-button{
    width: 100%;
    height: 45px;
    background-color: $theme-color;
    border: 2px solid $theme-color;
    outline: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    cursor:pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.store-coupons-detailbar-offer-button-container #offer-button:hover{
    background-color: #fff;
    border: 2px solid $theme-color;
    color: $theme-color;
}
.store-coupons-sidebar-filterbycoupontype-container{
    margin:30px 0;
}
.store-coupons-sidebar-filterbycoupontype-heading{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}
.store-coupons-sidebar-filterbycategory-container{
    margin:30px 0;
}
.store-coupons-sidebar-filterbycategory-heading{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}
.store-description-container{
    width: 100%;
}
.sc-store-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}
.store-coupon-verification-container{
    font-size: 13px;
    color: $theme-color;
}
.store-coupon-verification-container .fa-check-circle{
    margin-right: 5px;
    font-size: 15px;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid $border-color-ongrey;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: $theme-color;
    border: 1px solid $theme-color;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: $theme-color;
    border: 1px solid $theme-color;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media only screen and (max-width: 1165px){
    .store-coupons-main-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 10px;
        margin: 30px auto; 
    }
    .store-coupons-sidebar{
        flex: 0 0 250px;
        padding: 0 20px;
    }
    .store-coupons-detailbar{
        width: 100%;
        padding: 0 20px;
    }
}
@media only screen and (max-width: 1000px){
    .store-coupons-sidebar{
        display: none;
    }
}
@media only screen and (max-width: 750px){
    .store-coupons-detailbar-offer-container{
        display: flex;
        flex-direction: column;
        width: calc(100% - 110px);
        margin: 0 0 0 10px;
    }
    .store-coupons-detailbar-offer-button-container{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .store-coupons-detailbar{
        padding: 0;
    }
}
@media only screen and (max-width: 500px){
    .store-coupons-detailbar-coupon-title{
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3px;
        border-right: 1px solid $border-color-ongrey;
        font-size: 18px;
        font-weight: 700;
        color: #DC002E;
    }
    .store-coupons-detailbar-offer-container{
        display: flex;
        flex-direction: column;
        width: calc(100% - 70px);
        margin: 0 0 0 10px;
    }
    .store-coupon-verification-container{
        font-size: 11px;
        color: $theme-color;
    }
    .store-coupon-verification-container .fa-check-circle{
        margin-right: 5px;
        font-size: 13px;
    }
    .store-coupons-detailbar-offertitle{
        font-size: 16px;
        font-weight: 400;
    }
    .store-coupons-detailbar-offertype{
        color: #DC002E;
        font-size: 12px;
        font-weight: 500;
        flex-grow: 1;
    }
    .store-coupons-detailbar-coupon-expires{
        display: none;
    }
}