.today-deals-heading{
    text-align: center;
}
.today-deals-heading h2{
    font-size: 25px;
    color: $todayhotdeals-heading-textcolor;
}
.today-deals-product{
    position: relative;
}
.today-deals-product img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.today-deals-product-description-content{
    width: 100%;
    display: grid;
    grid-template-columns: 70px 260px;
    grid-template-rows: 60px;
    padding: 8px;
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.8);
    color: $whitecolor;
    height: 76px;
    cursor: pointer;
}
.today-deals-product-description-brandlogo-content{
    width: 60px;
    height:60px;
}
.today-deals-product-description-brandlogo{
    width: 100%;
    height: 100%;
}
.today-deals-product-offer{
    font-size: 18px;
    font-weight: bold;
}
@media only screen and (min-width: 1164px) {
    .today-deals-main-content{
        width: 1090px;
        margin: 40px auto;
    }
    .today-deals-products-content{
        margin: 35px 0 35px 0;
        display: -ms-grid;
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 300px;
        -ms-grid-columns: 350px 350px 350px;
        -ms-grid-rows: 300px;
    }
}
@media only screen and (max-width: 1165px) {
    .today-deals-main-content{
        width: 100%;
        margin: 35px 0 35px 0;
    }
    .today-deals-products-content{
        margin: 30px 30px 0 30px;
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 300px;
        overflow: auto;
        overflow-y: hidden;
        -ms-overflow-y: hidden;
        white-space: nowrap;
        display: -ms-grid;
        -ms-grid-columns: 350px 350px 350px;
        -ms-grid-rows: 300px;
    }
}