  .top-stores-main-container {
    margin: 30px 30px;
    position: relative;
  }
  .top-stores-main-container .stores-container {
    margin: 15px 5%;
    overflow: hidden;
    white-space: nowrap;
  }
  .top-stores-heading{
    text-align: center;
  }
  .top-stores-heading h2{
    font-size:25px;
    font-family: 'Calibri Light';
    font-weight: bold;
    color: $topstores-heading-textcolor;
  }
  .top-stores-main-container .stores-container .item {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    border-right: none;
    width: 16.7%;
    height: 180px;
  }
  .top-stores-main-container .stores-container .item .store-img{
    width: 130px;
    height: 130px;
    margin: 20px auto;
    border: 1px solid $border-color;
    transition: 0.4s;
    -webkit-transition: 0.4s;
  }
  .top-stores-main-container .stores-container .item .store-img:hover{
    cursor: pointer;
    box-shadow: 0 0 10px $boxshadow-color;
    transition: 0.4s;
    -webkit-transition: 0.4s;
  }
  .top-stores-main-container .stores-container .item .store-img img{
    width: 100%;
    height: 100%;
  }
  .top-stores-main-container .MS-controls button {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    outline: 0;
    top: 105px;
    color: $topstores-control-buttons-bg-color;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  .top-stores-main-container .MS-controls button:hover {
    color: $blackcolor;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  .top-stores-main-container .MS-controls .MS-left {
    left: 25px;
  }
  .top-stores-main-container .MS-controls .MS-right {
    right: 25px;
  }
  @media (max-width: 1300px) {
    .top-stores-main-container .stores-container .item {
      width: 20%;
    }
    .top-stores-main-container .MS-controls .MS-left {
      left: 20px;
    }
    .top-stores-main-container .MS-controls .MS-right {
      right: 20px;
    }
  }
  @media (max-width: 1115px) {
    .top-stores-main-container .stores-container .item {
      width: 25%;
    }
    .top-stores-main-container .MS-controls .MS-left {
      left: 10px;
    }
    .top-stores-main-container .MS-controls .MS-right {
      right: 10px;
    }
  }
  @media (max-width: 890px) {
    .top-stores-main-container .stores-container .item {
      width: 33.33%;
    }
    .top-stores-main-container .MS-controls .MS-left {
      left: 0px;
    }
    .top-stores-main-container .MS-controls .MS-right {
      right: 0px;
    }
  }
  @media (max-width: 650px) {
    .top-stores-main-container .stores-container .item {
      width: 50%;
    }
    .top-stores-main-container .MS-controls .MS-left {
      left: 0px;
    }
    .top-stores-main-container .MS-controls .MS-right {
      right: 0px;
    }
  }
  @media (max-width: 450px) {
    .top-stores-main-container .stores-container .item {
      width: 100%;
    }
    .top-stores-main-container .MS-controls .MS-left {
      left: -8px;
    }
    .top-stores-main-container .MS-controls .MS-right {
      right: -8px;
    }
  }
  