.top-instore-offers-main-container{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.top-instore-offers-heading{
    font-size:25px;
    font-weight: 700;
}
.top-instore-offers-container{
    width: 1150px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
.top-instore-offers-container .top-instore-offer-container:nth-child(n){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 12px);
    margin: 0 16px 16px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid $border-color-ongrey;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.top-instore-offers-container .top-instore-offer-container:nth-child(4n){
    margin: 0 0 16px 0;
}
.top-instore-offers-container .top-instore-offer-container:hover{
    box-shadow: 0 0 10px $boxshadow-color;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.top-instore-offer-store-logo{ 
    width:130px; 
    height:130px;
}
.top-instore-offer-store-logo img{
    width: 100%;
    height: 100%;
}
.top-instore-offer-offertitle{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top-instore-offer-offertype{
    font-size: 14px;
    font-weight: 700;
    color: #228B22;
    flex-grow: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#top-instore-offer-button{
    margin-top: 5px;
    width:100%; 
    height: 35px; 
    background-color: $theme-color;
    color: $whitecolor; 
    border: 2px solid $theme-color; 
    border-radius: 4px;
    font-weight: 500;
    cursor:pointer;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
#top-instore-offer-button:hover{
    background-color: #fff !important;
    color: $theme-color !important;
    border: 2px solid $theme-color;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

@media only screen and (max-width: 1165px){
    .top-instore-offers-container{
        width: 100%;
        padding: 0 30px;
    }
    .top-instore-offers-heading{
        padding: 0 30px;
    }
    .top-instore-offers-container .top-instore-offer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(25% - 12px);
        margin: 0 16px 16px 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid $border-color-ongrey;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }    
}
@media only screen and (max-width: 1050px){
    .top-instore-offers-container{
        width: 100%;
        padding: 0 30px;
    }
    .top-instore-offers-container .top-instore-offer-container:nth-child(n){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(33% - 8.4px);
        margin: 0 16px 16px 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid $border-color-ongrey;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
    .top-instore-offers-container .top-instore-offer-container:nth-child(3n){
        margin: 0 0 16px 0;
    }
}
@media only screen and (max-width: 800px){
    .top-instore-offers-container{
        width: 100%;
        padding: 0 30px;
    }
    .top-instore-offers-container .top-instore-offer-container:nth-child(n){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(50% - 8px);
        margin: 0 16px 16px 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid $border-color-ongrey;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
    .top-instore-offers-container .top-instore-offer-container:nth-child(2n){
        margin: 0 0 16px 0;
    }
}
@media only screen and (max-width: 600px){
    .top-instore-offers-container{
        width: 100%;
        padding: 0 15px;
    }
}
@media only screen and (max-width: 500px){
    .top-instore-offers-container{
        width: 100%;
        padding: 0 15px;
    }
    .top-instore-offers-container .top-instore-offer-container:nth-child(n){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 0 16px 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid $border-color-ongrey;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
}