//base app theme
$theme-color: #044D6E;
$theme-color-tonext: #033349;
$link-color-onhover: #0061ff;
$blog-link-color-onhover: #044D6E;
$body-backgroundcolor: #F2F2F2;

$border-color-ongrey: #ced4da;
$border-color-onwhite: #f1f1f1;
$boxshadow-color: #838383;

$offer-type-code-color: #DC002E;
$offer-type-instorecoupon-color: #228B22;
$offer-type-else-color: $theme-color;
//loader color
$loadercolor: #044D6E;

//header
//mega dropdown menu
$detailcontainer-heading-color: #7D7D7D;
//end header

//footer
$footer-copyrights-color: #7D7D7D;
$footercopyrights-backgroundcolor: #033349;
$footercolumns-onhover-backgroundcolor: #00aced;
$footerfacebookicon-onhover-color: #0077e2;
$footergoogleicon-onhover-color: #ef1a1a;
$footertwittericon-onhover-color: #00aced;
$footerinstagramicon-onhover-color: #e4405f;
