//base app theme
$theme-color: #044D6E;
$link-color: #044D6E;
$link-color-onhover: #0061ff;
$body-backgroundcolor: #F2F2F2;
//
$offer-color: #000000;
$offer-label-color: #F45336;
$title-color: #044D6E;
$offer-title-font: 15px;
$offer-label-font: 15px;
$title-font: 13px;
$offer-title-font-weight: normal;
$offer-label-font-weight: bold;
$title-font-weight: normal;
//
$border-color-ongrey: #CFCFCF;
$border-color-onwhite: #f1f1f1;
$boxshadow-color: #838383;
$blackcolor: #000000;
$whitecolor: #ffffff;

//loader color
$loadercolor: #044D6E;

//header
$topsearchbar-bordercolor: #ffffff;
$dropdownbutton-onhover-backgroundcolor: #033349;
$dropdownbutton-onactive-backgroundcolor: #033349;
//mega dropdown menu
$sidebar-heading-color: #7D7D7D;
$sidebar-list-items-background-color: #D1D1D1;
$detailcontainer-heading-color: #7D7D7D;
//mega dropdown list
$togglebutton-list-backgroundcolor: #044D6E;
$togglebutton-list-hover-backgroundcolor: #0b78aa;
$togglebutton-sublist-backgroundcolor: #033349;
$togglebutton-sublist-hover-backgroundcolor: #0b78aa;
//end header

//footer
$footer-copyrights-color: #7D7D7D;
$footercopyrights-backgroundcolor: #033349;
$footercolumns-onhover-backgroundcolor: #00aced;
$footerfacebookicon-onhover-color: #0077e2;
$footergoogleicon-onhover-color: #ef1a1a;
$footertwittericon-onhover-color: #00aced;
$footerinstagramicon-onhover-color: #e4405f;

//todays hot deals content
$todayhotdeals-heading-textcolor: #5A5858;

//main tabs
$tab-bg-color-onhover: #033349;
$tab-bg-color-onactive: #033349;

//top stores content
$topstores-control-buttons-bg-color: #7D7D7D;
$topstores-heading-textcolor: #5A5858;

//top offers deals products content
$topoffers-heading-textcolor: #000000;
$producttitle-textcolor: #000000;
$productoffertitle-textcolor : #000000;
$offerbutton-backgroundcolor: #F45336;
$offerbutton-textcolor: #F45336;
$productofferlabel-textcolor: #F45336;