
//app theme
$theme-color: #044D6E;
$border-color: #CFCFCF;
$boxshadow-color: #838383;
$blackcolor: #000000;
$whitecolor: #ffffff;
$silvercolor: silver;
$greycolor: grey;

//header
$topsearchbar-bordercolor: #ccc;
$dropdownbutton-onhover-backgroundcolor: #033349;
$dropdownlist-backgroundcolor: #033349;

//footer
$footercopyrights-backgroundcolor: #262537;
$footercolumns-onhover-backgroundcolor: #00aced;
$footerfacebookicon-onhover-color: #0077e2;
$footergoogleicon-onhover-color: #ef1a1a;
$footertwittericon-onhover-color: #00aced;
$footerinstagramicon-onhover-color: #e4405f;

//body main content
$maincontent-backgroundcolor: #F2F2F2;

//todays hot deals content
$todayhotdeals-heading-textcolor: #5A5858;

//top stores content
$topstores-heading-textcolor: #5A5858;

//top offers deals products content
$topoffers-heading-textcolor: #000000;
$producttitle-textcolor: #000000;
$productoffer-textcolor : #F45336;
$productoffer-typecolor: grey;